@tailwind base;
@tailwind components;
@tailwind utilities;


/* *, *::before, *::after {
  outline: 1px solid red;
}  */


@layer components {
  .gradient-pattern {
    background-image: radial-gradient(
      rgb(255 255 255 / 10%) 1px, 
      transparent 1px
    );
    background-size: 1.1rem 1.1rem;
  }
}

@layer base {
  * {
    @apply transition-colors duration-300;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .no-transition,
  .no-transition *,
  .loading-spinner,
  .loading-spinner * {
    @apply transition-none !important;
  }
}


* {
  -webkit-user-select: none;
}

*:active,
*:hover {
  cursor: pointer;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-center {
  scroll-snap-align: center;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-center {
  scroll-snap-align: center;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.globe-transition {
  transition: all 1s ease-in-out;
}